<div>
    <form class="form-horizontal"  [formGroup]="formGroupUser">
        <fieldset>
            <!-- <div class="form-group">
                <label class="control-label">{{translate('Login')}}</label>
                <input class="form-control" type="text" formControlName="login" placeholder="{{translate('Login')}}">
            </div> -->
            <div class="form-group">
                <label class="control-label">{{translate('Email')}}</label>
                <input class="form-control" type="text" formControlName="email" placeholder="{{translate('Email')}}">
            </div>
            <div class="form-group" formGroupName="pass">
                <label class="control-label">{{translate('Password')}}</label>
                <input class="form-control" type="password" formControlName="password" placeholder="{{translate('Password')}}">
                <label class="control-label">{{translate('Confirm')}}</label>
                <input class="form-control" type="password" formControlName="confirmPassword" placeholder="{{translate('Confirm password')}}">
            </div>
        </fieldset>
        <div class="form-group">
            <button type="submit" [disabled]="!formGroupUser.valid" class="btn btn-primary btn-block" (click)="createAndConnect()">{{translate('Create and connect')}}</button>
        </div>
    </form>
    <alert *ngIf="message" type="success" dismissible="true">{{message}}</alert>      
    <alert *ngIf="error" type="danger" dismissible="true">{{error}}</alert>          
</div>
