<div style="margin-top: 10px">
    <form class="form-horizontal" [formGroup]="formGroupChangePassword">
        <fieldset>
            <div class="form-group">
                <!-- <label for="inputEmail" class="control-label">{{translate('Email')}}</label> -->
                <input formControlName="emailToChangePassword" type="email" class="form-control" placeholder="{{translate('Email to send new password')}}">
                <!-- <label class="control-label">{{translate('Current password')}}</label> -->
                <input class="form-control" style="margin-top: 10px" type="password" formControlName="currentPassword" placeholder="{{translate('Current password')}}">
            </div>
            <div class="form-group" formGroupName="pass">
                <!-- <label class="control-label">{{translate('New password')}}</label> -->
                <input class="form-control" type="password" formControlName="password" placeholder="{{translate('New password')}}">
                <!-- <label class="control-label">{{translate('Confirm new password')}}</label> -->
                <input class="form-control" style="margin-top: 10px"  type="password" formControlName="confirmPassword" placeholder="{{translate('Confirm new password')}}">
            </div>
        </fieldset>
        <div class="form-group">
            <button type="submit" [disabled]="!formGroupChangePassword.valid" class="btn btn-primary" (click)="changePassword()">
                {{translate('Change password')}}
            </button>
        </div>
    </form>
    <alert *ngIf="message" type="success" dismissible="true">{{message}}</alert>      
    <alert *ngIf="error" type="danger" dismissible="true">{{error}}</alert>      
</div>
