<div style="margin-top: 10px">
    <form name="elementForm" class="form-horizontal" [formGroup]="formGroupResetPassword">
        <div class="form-group">
            <!-- <label for="inputEmail" class="control-label">{{translate('Email')}}</label> -->
            <input formControlName="emailToSendNewPassword" type="email" class="form-control" placeholder="{{translate('Email to send new password')}}">
        </div>
        <button [disabled]="!formGroupResetPassword.valid" type="submit" class="btn btn-primary" (click)="sendLostPassword()">
            {{translate('Send me a my new password')}}
        </button>            
    </form>
    <br>
    <alert *ngIf="messageLostPassword" type="success" dismissible="true">{{messageLostPassword}}</alert>           
    <alert *ngIf="errorLostPassword" type="danger" dismissible="true">{{errorLostPassword}}</alert>           
</div>
