<div>
    <form class="form-horizontal" [formGroup]="formGroupChangePassword">
        <fieldset>
            <div class="form-group">
                <label for="inputEmail" class="control-label">{{translate('Email')}}</label>
                <input formControlName="emailToChangePassword" type="email" class="form-control" placeholder="{{translate('Email to send new password')}}">
            </div>
                        
            <div class="form-group" formGroupName="pass">
                <label class="control-label">{{translate('Current password')}}</label>
                <input class="form-control" type="password" formControlName="password" placeholder="{{translate('Current password')}}">
                <label class="control-label">{{translate('New password')}}</label>
                <input class="form-control" type="password" formControlName="password" placeholder="{{translate('New password')}}">
                <label class="control-label">{{translate('Confirm new password')}}</label>
                <input class="form-control" type="password" formControlName="confirmPassword" placeholder="{{translate('Confirm new password')}}">
            </div>
        </fieldset>
        <div class="form-group">
            <button type="submit" [disabled]="!formGroupChangePassword.valid" class="btn btn-primary btn-block" (click)="createAndConnect()">
                {{translate('Create and connect')}}
            </button>
        </div>
    </form>
    <alert *ngIf="message" type="success" dismissible="true">{{message}}</alert>      
    <alert *ngIf="error" type="danger" dismissible="true">{{error}}</alert>      
</div>
