
<div *ngIf="loadComplete" class="card" style="
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;">

    <!-- Login information -->
    <form name="elementForm" class="form-horizontal" [formGroup]="formGroupLogin">
        <fieldset>
            <div class="form-group">
                <label for="inputEmail" class="control-label">{{translate('Login')}}</label>
                <input formControlName="login" type="text" class="form-control" id="inputEmail" placeholder="{{translate('Email or login')}}">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label">{{translate('Password')}}</label>
                <input type="password" formControlName="password" class="form-control" id="inputPassword" placeholder="{{translate('Password')}}">
                <div class="checkbox" style="margin-top: 20px">
                    <label>
                        <input formControlName="rememberMe" type="checkbox"> {{translate('Remember me')}}
                    </label>
                </div>
                <i *ngIf="loading" class="fa fa-spinner fa-spin" style="font-size: 2em"></i>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!formGroupLogin.valid" class="btn btn-primary btn-block" (click)="connect()">{{translate('Connect')}}</button>
                <button type="submit" class="btn btn-danger btn-block" (click)="disconnect()">
                    {{translate('Disconnect')}}
                </button>
                <!-- <small *ngIf="isConnected">{{translate('You are connected as ') + getCurrentUser().email}}</small> -->
            </div>

        </fieldset>
        <div *ngIf="!loading && connexionAttempt">
            <alert *ngIf="wrongLogin" type="warning" dismissible="true">{{translate('Incorrect username or password.')}}</alert>          
            <alert *ngIf="!wrongLogin" type="success" dismissible="true">{{translate('You are connected.')}}</alert>          
        </div>
        <br>
        <button class="btn btn-primary btn-block" (click)="googleLogin()">
            <i class="fa fa-google"></i>
            {{translate('Connect with Google')}}
        </button>        
        <br>
    </form>

    <!-- Change password -->
    <a href="javascript:void(0)" (click)="showChangePassword = !showChangePassword">{{translate('Change my password')}}</a>
    <div *ngIf="showChangePassword" >
        <userChangePassword></userChangePassword>
    </div>
    
    
    <!-- Reset password -->
    <a href="javascript:void(0)" (click)="showResetPassword = !showResetPassword">{{translate('Reset my password')}}</a>
    <div *ngIf="showResetPassword" >
        <userResetPassword></userResetPassword>
    </div>

    <!-- Create new account -->
    <a href="javascript:void(0)" (click)="newAccount()">{{translate('Create new account ')}}</a>
    <div *ngIf="showNewAccount" >
        <userCreate [user]="newUser" [test]="test" (connected)="userCreated($event)"></userCreate>
    </div>
    
    <br>
    <br>
    <small>{{translate('Wanna know more ? Contact ')}}<a href="{{'mailto: ' + contactEmail}}">{{contactEmail}}</a></small>
</div>